<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Haven Home</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'users/css/index.css' %}">
</head>
<body>
    <div>
        <h1>H/\\/EN</h1>
        <h2>The Social Network for Gamers</h2>
        <footer>
            <a href="/login">Login</a>
            <a href="/register">Register</a>
        </footer>
    </div>
</body>
</html>